.uploadWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 25rem;
  background-color: #f9fafb;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.uploadWrapper:hover {
  opacity: 0.9;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.uploadInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadIcon {
  font-size: 3.125rem;
  color: #fa8c16;
  margin-bottom: 0.75rem;
}

.uploadPara {
  font-size: 1.5rem;
  font-weight: 500;
}

.listAudioWrapper {
  width: 100%;
  min-height: 25rem;
  background-color: #f9fafb;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.audioPlayWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}

.volumeControlWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.volumeSliderContainer {
  position: absolute;
  top: 100%;
  left: 19%;
  transform: translateX(-50%);
}

.volumeSlider {
  height: 5rem;
}
@media screen and (min-width: 1200px) {
  .audioController {
    margin-right: 3.125rem;
  }
}
@media (max-width: 992px) {
  .volumeSliderContainer {
    position: absolute;
    top: 1.25rem;
    left: 1.188rem;
    transform: translateX(-50%);
  }
  .audioController {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .audioPlayWrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .volumeControlWrapper {
    justify-content: center;
    margin-bottom: 0.625rem;
  }
  .btnVolume {
    display: none;
  }
  .audioController {
    margin-right: 0;
  }
}
