
.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header-logo {
  float: left;
  color: #1890ff;
  font-size: 24px;
  margin-right: 10px;
}

.header-menu--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
