.web-title {
  font-size: 1.25rem;
  margin: 1.25rem 0;
}

.list-audio-wrapper {
  display: flex;
  justify-content: space-between;
}

.list-audio-wrapper .transcription {
  display: block;
  width: 80%;
  overflow-wrap: break-word;
  word-wrap: normal;
  white-space: normal;
}

.text-input {
  font-size: 1.375rem;
  position: relative;
}

@media (max-width: 575.98px) {
  .pt-5 {
    padding-top: 1.25rem !important;
  }
}

@media (max-width: 767.98px) {
  .d-flex {
    flex-direction: column !important;
  }

  .pt-5 {
    padding-top: 1.25rem !important;
  }
}

.ant-upload-list .ant-upload-list-text {
  display: none !important;
}
