@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
/*
  1. Use a more-intuitive box-sizing model.
*/

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0.938;
  padding-left: 0.938rem;
}
@media (min-width: 476px) {
  .container {
    padding-right: 0.938rem;
    padding-left: 0.938rem;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 0.938rem;
    padding-left: 0.938rem;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 0.938rem;
    padding-left: 0.938rem;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 0.938rem;
    padding-left: 0.938rem;
  }
}
@media (min-width: 476px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 45rem;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 60rem;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 71.25rem;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 83.75rem;
    max-width: 100%;
  }
}
html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure full width */
  overflow-y: auto; /* Enable vertical scrolling when needed */
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove default margins */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

div::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
div::-webkit-scrollbar-thumb {
  background: transparent;
}
div:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.75rem;
}
/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar */
  height: 0.25rem; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #ef5b1e; /* Color of the scrollbar thumb */
  border-radius: 0.625rem; /* Rounded corners */
  border: 0.188rem solid #f1f1f1; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change thumb color on hover */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

.ant-btn-primary:hover {
  border-color: rgb(239, 91, 30); /* Match border to background */
}

.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.zoom-fade-in {
  -webkit-animation: zoomfadein 1s ease-in-out;
  -moz-animation: zoomfadein 1s ease-in-out;
  -ms-animation: zoomfadein 1s ease-in-out;
  -o-animation: zoomfadein 1s ease-in-out;
  animation: zoomfadein 1s ease-in-out;
}

@keyframes zoomfadein {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
